img.logo {
  height: 100px;
  width: 100px;
  margin-left: 30px;
}
button.logout {
   float: right;
   margin-top: 30px;
}
div.topheader {
  font-family: 'Ubuntu', sans-serif;
}
nav.navbar {
  border: 2px solid #a0a0a0;
}
div.logoutLink a:link, div.logoutLink a:hover, div.logoutLink a:active, div.logoutLink a:visited {
  color: #333333;
}
div.contentContainer {
  margin-bottom: 30px;
  padding-bottom: 50px;
}
div.currentTitle {
  font-family: 'Ubuntu', sans-serif;
  /*position: absolute;*/
  /*width: 780px;*/
  font-size: 2em;
  text-align: center;
  right: 20px;
}
div.mainRow1 {
  margin-top: 50px;
}
div.well {
  border: 2px solid #4a9595;
  background-color: #d6f8f8;
  display: block;
}
div.navigation {
  font-family: 'Nunito', sans-serif;
}
div.navigationText {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
}
div.maintable {
  font-family: 'Nunito', sans-serif;
}
table.table-bordered {
  background-color: #F6FBFB;
}
div.mainRow2 {
  margin-top: 30px;
}
